<header class="header">
    <h2 class="header-title">商品管理システム</h2>
    <nav class="header-nav">
        <ul class="header-navlist">
            <li class="header-navitem">
                <span>[[ ${session.user.name} ]]さん、こんにちは</span> 
            </li>
            <li class="header-navitem">
                <a href="/logout" class="header-button"><img class="header-img" src="/image/key.png" alt="key"> ログアウト</a>
            </li>
        </ul>
    </nav>
</header>
<link rel="stylesheet" href="/CSS/header.css">
<script src="/JS/header.js"></script>