<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- サイトの説明欄 -->
    <meta name="description" content="sample test test test test test test test test.....">
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./CSS/sanitize.css">
    <!--自作のCSS-->
    <link rel="stylesheet" href="./CSS/style.css">
    <title>商品管理システム</title>
</head>
<body>
    <h1>商品管理システム</h1>
    <div class="loginForm">
        <img class="logImage" src="./image/logo.png" alt="logo"><br>
        <input type="text" class="inputLog" id="js-inputId"><br>
        <span class="errar" id="js-idErrar"></span><br>
        <input type="password" class="inputLog" id="js-inputPass"><br>
        <span class="errar" id="js-passErrar"></span><br>
        <Button class="logButtom" id="js-logButtom">ログイン</Button><br>
    </div>
    














<script src="./JS/index.js"></script>
</body>
</html>