<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="description"
      content="sample test test test test test test test test....."
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./CSS/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="./CSS/style-new.css" />
    <title>商品管理システム</title>
  </head>
  <body>
    <th:block th:insert="./common/header"></th:block>
    <div class="insert-body">
      <p>
        登録情報を入力してください（<span class="redText">※</span>は必須です）
      </p>
      <fieldset>
        <div class="inputEach">
          <label for="js-inputId"><span class="redText">※</span>商品ID</label>
          <input type="text" class="inputText" id="js-inputId" />
          <span class="redText" id="js-errarId">不正な入力値を検出</span>
        </div>
        <div class="inputEach">
          <label for="js-inputName"><span class="redText">※</span>商品名</label>
          <input type="text" class="inputText" id="js-inputName" />
          <span class="redText" id="js-errarName">不正な入力値を検出</span>
        </div>
        <div class="inputEach">
          <label for="js-inputPrice"><span class="redText">※</span>単価</label>
          <input type="text" class="inputText" id="js-inputPrice" />
          <span class="redText" id="js-errarPrice">不正な入力値を検出</span>
        </div>
        <div class="inputEach">
          <label for="js-listSelect"
            ><span class="redText">※</span>カテゴリ</label
          >
          <select id="js-listSelect">
            <option value="">-カテゴリ-</option>
          </select>
          <span class="redText" id="js-errarCategory">不正な入力値を検出</span>
        </div>
        <div class="inputEach">
          <label for="js-inputDescription">商品説明</label>
          <textarea
            name="description"
            id="js-inputDescription"
            cols="30"
            rows="10"
          ></textarea>
          <span class="redText" id="js-errarDescription"
            >不正な入力値を検出</span
          >
        </div>
        <div class="inputEach">
          <label for="js-inputImage">画像</label>
          <input type="file" name="file" id="js-inputImage" />
          <span class="redText" id="js-errarImage">不正なファイルを検出</span>
        </div>
      </fieldset>

      <div class="buttons">
          <a class="button" id="js-insertBtn">登録</a>
        <a href="/backToList" class="button">戻る</a>
      </div>
    </div>

    <script src="./JS/app-new.js"></script>
  </body>
</html>
