<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- サイトの説明欄 -->
    <meta name="description" content="sample test test test test test test test test.....">
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./CSS/sanitize.css">
    <!--自作のCSS-->
    <link rel="stylesheet" href="./CSS/style-list.css">
    <title>商品管理システム</title>
</head>
<body>
    <th:block th:insert="./common/header"></th:block>

    <!--権限追加-->
    <div class="buttons" th:if="${session.user.role == 1}">
        <a class="button" href="/insert">新規登録</a>
        <a class="button" href="/category">カテゴリー管理</a>
    </div>

    <div class="form">
        <select id="js-listSelect">
            <option value="">-並び替え-</option>
        </select>
        <input id="js-searchText" type="text" placeholder="検索ワードを入力"/>
        <button id="js-searchBtn" href="#"><i class="fas fa-search"></i></button>
    </div>
    <div class="listView">
        <p class="searchcounts">検索件数: <span id="js-listCounts"></span>件</p>
        <div class="tableView" id="tableContainer"></div>
          
    </div>

<script src="./JS/app-list.js"></script>
</body>
</html>